@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

.App {
    font-family: 'Libre Franklin', sans-serif; /* Font family taken from RCD website. */
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #003080;    
}
