.Content {
    background-color: #272822;
    margin: 0 auto;
    max-width: 1100px;
    padding: 5%;
    border-radius: 3em 3em 0 0;
    box-shadow: 0 0 3pt 2pt white;
}

a {
    text-decoration: none;
    color: #ce1126;
}

a:hover {
    color: #fd971f;
    text-shadow: 0px 0px 1px #fff;
}
