.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    text-align: center;
    min-height: 100vh;
}

.page-scroll-indicator   {
    bottom: 2vh;
    left: 50%;
    position: fixed;
    animation:bounce 1s infinite;
    transform: translateX(0%);
  }

@keyframes App-logo-spin {
    from {
	transform: rotate(0deg);
    } to {
	transform: rotate(360deg);
    }
}
